div {
	text-align:center;
	
}

.sinistra {
  text-align:left;
}
p {
font-family:calibri;
font-size:180%;
font-style:oblique;
text-transform:capitalize;
color:black;
	


ul {
	font-size:30px;
}
a:visited  {
	color:purple;
}
a:link{
	color:blue;
}
h1{
	
	font-size:250%;
	text-align:center;
}
.centro {
	text-align:center;
}

}
html {
	background-image:url('tova2.jpg');
	background-size:contain;
}
h2 {
text-decoration:underline;	
}
.ultimo {
 background-color:grey;
}


